/*=========================
    LOOKBOOK STYLES
==========================*/

#navbarTabPhotoslurp {
    opacity: 0;
    -webkit-transition: opacity 0.8s linear 0.2s;
    -o-transition: opacity 0.8s linear 0.2s;
    transition: opacity 0.8s linear 0.2s;
}

#navbarTabPhotoslurp {
    opacity: 1;
}

/***********************/
.wrapper-widgets {
    margin: 10px 0;
    width: 1254px;
}

.tabss {
    text-align: center !important;
}

.tabss input[type=radio] {
    display:none;
}

.tabss label {
    
    /*width: 30.5% !important;*/
    text-align: center;
    line-height: 2;
    cursor: pointer;
    margin-bottom: 26px !important;
    transition: border-bottom 1s ease;
    border-bottom: 1px transparent solid;
}



.tabss [id^="tab"]:checked + label {
    /*border-bottom: 1px solid lightgrey;*/
    font-weight: bold;
}

.tab-style {
    /*font-family: "Roboto Slab", serif;*/
    font-style: normal;
    margin: 0 48px 6px 0 !important;
    font-size: 14px;
    text-transform: uppercase;
    /*font-weight: 100;*/
    display: inline-grid !important;
}

.tab-content {
    display: none;
    width: 100%;
    overflow: visible !important;
}

 #tab1:checked ~ #tab-content1,
 #tab2:checked ~ #tab-content2,
 #tab3:checked ~ #tab-content3,
 #tab4:checked ~ #tab-content4{
    display: block;
}

#widget-container1 .ps-images {
    grid-template-columns: repeat(auto-fill,150px)!important;
    grid-gap: 10px!important;
}

#widget-container2 .ps-images {
    grid-template-columns: repeat(auto-fill,calc(33% - 10px))!important;
    grid-gap: 10px!important;
}

#widget-container3 .ps-images {
    grid-template-columns: repeat(auto-fill,calc(33% - 10px))!important;
    grid-gap: 10px!important;
}

#widget-container4 .ps-images {
    grid-template-columns: repeat(auto-fill,calc(33% - 10px))!important;
    grid-gap: 10px!important;
}





.ps-container {
    margin-top: 15px;
}